<template>
  <div id="wrapper">
    <main>
      <connection ref="connection"></connection>
      <button @click="openFile">Open File</button>
      <button @click="sendFile">Send File</button>
      <textarea class="text" cols="80" rows="10" v-model="fileText"></textarea>
      <label>Log:</label>
      <textarea class="text" cols="80" rows="10" v-model="log"></textarea>
      <machine-control></machine-control>
    </main>
  </div>
</template>

<style>
  .text {
    display: block;
  }
</style>

<script>
  import Connection from './LandingPage/Connection'
  import MachineControl from './LandingPage/MachineControl'

  export default {
    name: 'landing-page',
    components: {
      'connection': Connection,
      'machine-control': MachineControl
    },
    data () {
      return {
        fileText: '',
        log: ''
      }
    },
    methods: {
      openFile () {
        this.$electron.ipcRenderer.send('open-file')
      },
      sendFile () {
        this.$electron.ipcRenderer.send('write', this.fileText)
      }
    },
    mounted () {
      this.$electron.ipcRenderer.on('connected', (event, address) => {
        this.log += `Connected to ${address}\r\n`
      })
      this.$electron.ipcRenderer.on('error', (event, error) => {
        this.log += `${error}\r\n`
      })
      this.$electron.ipcRenderer.on('data-received', (event, data) => {
        this.log += data
      })
      this.$electron.ipcRenderer.on('file-opened', (event, data) => {
        this.fileText = data.toString()
      })
      this.$refs.connection.connect()
    }
  }
</script>

