<script src="../../../../../gcodesenderjs/view.js"></script>
<template>
    <div>
        <label>Address:</label>
        <input type="text" v-model="address"/>
        <button @click="connect">Connect</button>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        address: '192.168.0.120:23'
      }
    },
    methods: {
      connect () {
        this.$electron.ipcRenderer.send('connect', this.address)
      }
    }
  }
</script>