<template>
    <div>
        <label>Machine Control</label>
        <span style="display: block">Status: {{status}}</span>
        <div style="display: block">
            <input type="text" v-model="rawCommand"/>
            <button @click="sendRawCommand()" @keyup.enter="sendRawCommand()">Send</button>
        </div>
        <input type="number" v-model="step">
        <table>
            <tr>
                <td><button class="step-button" @click="moveBy(0, 0, -1)">Z-</button></td>
                <td><button class="step-button" @click="moveBy(0, 1, 0)">Y+</button></td>
                <td><button class="step-button" @click="moveBy(0, 0, 1)">Z+</button></td>
            </tr>
            <tr>
                <td><button class="step-button" @click="moveBy(-1, 0, 0)">X-</button></td>
                <td><button class="step-button" @click="gotToZero">0</button></td>
                <td><button class="step-button" @click="moveBy(1, 0, 0)">X+</button></td>
            </tr>
            <tr>
                <td><button class="step-button" @click="gotToZeroXY">XY0</button></td>
                <td><button class="step-button" @click="moveBy(0, -1, 0)">Y-</button></td>
                <td></td>
            </tr>
        </table>
        <button @click="resetXY">ResetXY</button>
        <button @click="resetZ">ResetZ</button>
        <button @click="getStatus">getStatus</button>
    </div>
</template>

<style>
    .step-button {
        width: 32px;
        height: 32px;
    }
</style>

<script>
  export default {
    data () {
      return {
        rawCommand: 'G0 X0 Y0',
        step: 1,
        status
      }
    },
    methods: {
      sendCommand (command) {
        this.$electron.ipcRenderer.send('write', command + '\n')
      },
      sendRawCommand () {
        this.sendCommand(this.rawCommand)
      },
      absCoords () {
        this.sendCommand('G90')
      },
      incCoords () {
        this.sendCommand('G91')
      },
      moveBy (x, y, z) {
        x = x * this.step
        y = y * this.step
        z = z * this.step
        this.incCoords()
        this.sendCommand(`G0X${x}Y${y}Z${z}`)
        this.absCoords()
      },
      resetXY () {
        this.sendCommand('G92X0Y0')
        this.getStatus()
      },
      resetZ () {
        this.sendCommand('G92Z0')
        this.getStatus()
      },
      getStatus () {
        this.sendCommand('?')
      },
      gotToZero () {
        this.sendCommand('G0X0Y0Z0')
      },
      gotToZeroXY () {
        this.sendCommand('G0X0Y0')
      }
    },
    mounted () {
      this.$electron.ipcRenderer.on('data-received', (event, data) => {
        const str = data.toString()
        if (str.startsWith('<')) {
          this.status = str
        }
      })
    }
  }
</script>